# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserstate
GoogleService-Info.plist

# Push Notification Keys (NEVER commit!)
*.p8
AuthKey_*.p8

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/.env
*.ipa
*.dSYM.zip
*.mobileprovision
build/